<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rayboot.airlauncher"
    android:versionCode="1"
    android:versionName="v1.0">

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:name=".App">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="airlauncher.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".activity.MyActivity"
            android:noHistory="true"
            android:label="时代空播(推荐)"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActionBarActivity"
            android:screenOrientation="user"
            android:label="时代空播"/>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="user"
            android:label="时代空播">
        </activity>
        <activity
            android:name=".activity.MusicPlayerActivity"
            android:screenOrientation="user"
            android:label="音乐播放器"/>
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:screenOrientation="user"
            android:label="视频播放器"/>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="user"
            android:label="设置"/>
        <activity
            android:name=".activity.ContentListActivity"
            android:screenOrientation="user"
            android:label="内容"/>
        <activity
            android:name=".activity.MovieDetailActivity"
            android:screenOrientation="user"
            android:label="影片详情"/>
        <activity
            android:name="com.artifex.mupdfdemo.MuPDFActivity"
            android:screenOrientation="portrait"
            android:label=""/>
        <activity android:name=".activity.FakeLauncherActivity"
            android:enabled="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".musicservice.MusicService"/>
    </application>
</manifest>
